* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    min-height: 100svh;
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    align-items: center;
    display: flex;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px 0;
}
.box {
    width: 320px;
    /* FIXED readable size */
    max-width: 90%;
    /* Responsive */
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 20px;
    text-align: center;
}
.box img {
    width: 100%;
    border-radius: 12px;
    display: block;
}

h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}


p {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  color: hsl(216, 15%, 48%);
}

.attribution{
    font-size: 15px; 
    font-weight: 100;
    text-align: center; 
    margin-top: 40px;
}