*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
}

.container{
    height:100vh;
    width:100vw;
    align-content: center;
    justify-content: center;
    display: flex;
    
    
}
.box{
    margin-top: 140px;
    margin-left: 20%;
    height:60vh;
    width:20vw;
    background-color: white;
    color: black;
    border-radius: 20px;
     align-content: center;
    justify-content: center;
    

}
h2{
    margin-top: 210px;
     background-color: white;
     align-items: center;
     justify-content: center;
     font-weight: 700;
     padding-left: 30px;
     padding-right: 30px;
}
h3{
     background-color: white;
     align-items: center;
     justify-content: center;
     font-weight: 400;
     padding-left: 30px;
     padding-right: 30px;
}